<html>
    <head>
        <meta charset="utf-8">
        <title>Promptr</title>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container" style="height:100%">
            <div class="col-md-8">
                <h2>{{ topic.getName }}: </h2>
                <ul>
                    {% for promptr in promptrs %}
                        <li><a href="/promptr/{{ promptr.getId }}">{{ promptr.getName}}</a></li>
                    {% endfor %}
                </ul>
        {# these are the buttons to add/delete promtprs from a topic page #}
            <div class="btn-group inline pull-left">
                <form action="/topic/{{ topic.getId }}" method="post">
                    <input type="text" name="name" placeholder="Title">
                    <button type="submit" class="btn btn-sm btn-default">Add Promtpr</button>
                </form>
            </div>
            <form action="delete_promptrs" method="post">
                <button type="submit" class="btn btn-sm btn-default">Clear Promptrs</button>
            </form>
                <div class="footer">
                    <a style="text-align: left" href="/">Home</a>
                </div>
            </div>
        </div>
    </body>
</html>
